/* Coolors Exported Palette - coolors.co/ffffff-84dcc6-a5ffd6-ffa69e-ff686b */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(165%, 56%, 69%, 1);
$color3: hsla(153%, 100%, 82%, 1);
$color4: hsla(5%, 100%, 81%, 1);
$color5: hsla(359%, 100%, 70%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(132, 220, 198, 1);
$color3: rgba(165, 255, 214, 1);
$color4: rgba(255, 166, 158, 1);
$color5: rgba(255, 104, 107, 1);